transformers
torch
pydub
soundfile
Flask
ffmpeg-python
deepgram-sdk
sentencepiece
openai
livekit-agents~=0.12.20
livekit-plugins-openai~=0.12.3
livekit-plugins-deepgram~=0.7.3
livekit-plugins-silero~=0.7.5
python-dotenv
langchain
langchain_community
langchain_openai
langchain_huggingface
langid
pypdf
faiss-cpu
ragas