transformers
torch
pydub
soundfile
Flask
ffmpeg-python
deepgram-sdk
sentencepiece
openai
livekit-agents~=0.12.17
livekit-plugins-openai~=0.11.2
livekit-plugins-deepgram>=0.6.8
livekit-plugins-silero~=0.7.1
python-dotenv
langchain
langchain_community
langchain_openai
langchain_huggingface
langid
pypdf
faiss-cpu
ragas