transformers
torch
pydub
soundfile
Flask
ffmpeg-python
deepgram-sdk
sentencepiece
openai
livekit-agents~=0.12.21
livekit-plugins-openai~=0.12.4
livekit-plugins-deepgram~=0.7.4
livekit-plugins-silero~=0.7.6
python-dotenv
langchain
langchain_community
langchain_openai
langchain_huggingface
langid
pypdf
faiss-cpu
ragas